<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>

		<add providerName="System.data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=magma;Trusted_Connection=True;"  name ="magma"  />

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.5" newVersion="1.0.115.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>